node_modules
.output
.vercel
.netlify
.wrangler
.svelte-kit
build

.DS_Store
Thumbs.db

.env
.env.*
!.env.example

*.db
*.db-shm
*.db-wal

.git
.gitignore
.github

.vscode
.idea
*.swp
*.swo
*~

logs
*.log

coverage
.nyc_output

.prettierrc
.prettierignore
.eslintrc*
*.md
todo.txt

vite.config.*.timestamp-*

Dockerfile
docker-compose.yml
.dockerignore
