@import 'tailwindcss';
@plugin '@tailwindcss/forms';

html {
    @apply bg-white text-black;
}

@media (prefers-color-scheme: dark) {
    html {
        background-color: #0e0e14;
        color: #e3e3e8;
    }

    input, select, textarea {
        background-color: #1a1a24;
        border-color: #2a2a3a;
        color: #e3e3e8;
    }

    input::placeholder {
        color: #6a6a7a;
    }

    button.bg-black {
        background-color: #e3e3e8;
        color: #0e0e14;
    }
}

button:not(.bg-black):not(.btn-delete) {
    @apply underline decoration-dotted underline-offset-2 hover:decoration-solid;
}

button:focus-visible, a:focus-visible {
    @apply outline-2 outline-offset-2 outline-current;
}

@font-face {
    font-family: 'Charter';
    src: url('/fonts/charter_regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Charter';
    src: url('/fonts/charter_bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@theme {
    --default-font-family: Charter, serif;
}